@charset "ISO-8859-1";
body, h1, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background-color: rgb(255, 204, 230);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

header {
    background-color:#FF7BBD;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

header h1 {
	color: white;
    margin: 0;
    font-size: 30px;
}

header img {
    height: 50px;
 }

#nav {
    background-color: #ad0c45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#nav li {
    margin-right: 20px;
}

#nav a {
    color: #f5f0f2;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.2s ease;
}

#nav a:hover {
    color: #4d152f;
}

#nav .active a {
    color: #0a0808;
}


#nav button {
    background-color: #050304;
    color: #f2dce5;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#nav button:hover {
    background-color: #e388a8;
}



#deshed{
    color: #6b0136;
}

#messageContainer {
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: #ff0000;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 1;
    border: 2px solid #ccc;
    border-radius: 1px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 20px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color:#FF7BBD;
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
}
 
footer img {
    height: 30px;
}

footer h3 {
margin: 0 10px;
font-size: 20px;
}

footer p {
margin: 5px 0;
font-size: 14px;
}