@charset "ISO-8859-1";
body,
ul {
    margin: 0;
    padding: 0;
}

/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color:rgb(255,203,240); /* Light gray background color */
    color: #333; /* Default text color */
}

/* Header styling */
header {
    background-color:#FF7BBD;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

header h1 {
	color: white;
    margin: 0;
    font-size: 30px;
}

header img {
    height: 50px;
 }

#nav {
    background-color: #ad0c45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#nav li {
    margin-right: 20px;
}

#nav a {
    color: #f5f0f2;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.2s ease;
}

#nav a:hover {
    color: #4d152f;
}

#nav .active a {
    color: #0a0808;
}


#nav button {
    background-color: #050304;
    color: #f2dce5;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#nav button:hover {
    background-color: #e388a8;
}



#deshed{
    color: #6b0136;
}

/* Table styling for billing details */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff; /* White background for the table */
    border: 1px solid #ccc; /* Table border */
}

table th, table td {
    border: 1px solid #ccc; /* Table cell border */
    padding: 8px;
}

/* Buttons styling */
input[type="button"] {
    background-color: #333; /* Dark gray background for buttons */
    color: #fff; /* Text color for buttons */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

input[type="button"]:hover {
    background-color: #555; /* Darker background color on hover */
}

/* Footer styling */
footer {
    background-color:#FF7BBD;
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
}
 
footer img {
    height: 30px;
}

footer h3 {
margin: 0 10px;
font-size: 20px;
}

footer p {
margin: 5px 0;
font-size: 14px;
}
